<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://example.com/HourlyBuzz" version="1.0.0" viewmodes="maximized">
    <tizen:application id="HrBuzz0001.HourlyBuzz" package="HrBuzz0001" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Hourly Buzz</name>
    <tizen:profile name="wearable"/>

    <!-- Images are loaded from the URLs in js/config.js -->
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>

    <!-- Keep the CPU awake for timers, turn the screen on for images -->
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <!-- Backup alarm that relaunches the app if Tizen closes it -->
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <!-- Bring the app to the front when an image is due -->
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <!-- Wrist-raise gesture -->
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>

    <!-- Keep running in the background; Back key and bezel events -->
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
    <tizen:background-category value="media"/>
    <tizen:background-category value="sensor"/>
</widget>
